body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1d2d50;
    color: #fff;
}

header {
    background-color: #ff9900;
    padding: 20px;
    color: white;
    text-align: center;
}

.offer-timer {
    font-weight: bold;
    margin-top: 10px;
}

#game {
    margin: 20px;
    padding: 20px;
    background-color: #293462;
    border: 1px solid #ddd;
    display: inline-block;
    border-radius: 10px;
}

#scratch-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.scratch-card {
    background-color: #ccc;
    padding: 20px;
    border: 2px solid #000;
    cursor: pointer;
    color: #000;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

#scratch-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#timer {
    font-weight: bold;
    color: red;
}
